.blackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-background;

    opacity: 1;
    transition: opacity 250ms $transition-timing;
    z-index: 2;
}

.blackdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.blackdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0.5);

}

.modal {
    position: absolute;
    width: 450px;
    height: 609px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 250ms $transition-timing;
    padding: 40px;



        background-color: $modal-window-color;

}

// .modal {
//     position: absolute;
//     width: 528px;
//     height: 581px;
//     border-radius: 4px;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) scaleY(1);
//     transition: transform 250ms $transition-timing;
//     padding: 40px;

    
//     background-color: $modal-window-color;
// }

.modal__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;

    margin-top: 8px;
    margin-right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    fill: $total-black-color;
    transition: fill 250ms $transition-timing;

    &:hover,
    &:focus {
    fill: $blue-accent;
}
}

