
.footer {
    margin: 0;
    padding: 0;

    background-color: $main-background-color;
}

.footer .conteiner {
    min-height: 603px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        min-height: 252px;
    
        justify-content: space-between;
        align-items: center;
    }
}


.footer-nav {
    margin-top: 20px;

}


.footer-address {
    @extend %mobile-flex;


    @media screen and (min-width: $desktop) {
        margin: 0;
        padding: 0;
        align-items: flex-start;
}
}

.footer-address__item:not(:first-child) {
    margin-top: 9px;
}

.footer-address__link {
    transition: color 250ms $transition-timing;

    &:hover,
    &:focus {
    color: $blue-accent;
    }
}



.link.contact {
    font-size: 14px;
    line-height: 1.71;
    color: $footer-mail-tel-color;
}
.link.address {
    font-size: 14px;
    line-height: 1.71;
    color: $main-white;
}

.main-footer {
    @extend %mobile-flex;

    @media screen and (min-width: $desktop){
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }
}


.footer-nav {

    @media screen and (min-width: $desktop){

    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
}


.footer-tablet-wrap {
    @media screen and (min-width: $tablet) and (max-width: 1199px){
        min-width: 603px;
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (min-width: $desktop){
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        padding-right: 93px;
    }
}