.header {
    border-bottom: 1px solid #ECECEC;
    position: relative;
}

.main-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: $tablet) {
    .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}}

.nav {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
        justify-content: start;
    }

    @media screen and (min-width: $desktop) {
        width: auto;
    }
}


.header-nav,
.header-address {
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    list-style: none;

    display: none;
}



.header-nav {
    align-items: center;
    justify-content: center;
    margin-left: 88px;

    display: none;


    @media screen and (min-width: $tablet) {
        display: flex;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        margin-left: 93px;
    }
}


.header-nav__item:not(:last-child) {
    margin-right: 50px;
}


.header-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $primery-text-color;

    &--current {
    color: $blue-accent;
}
}


.header-address {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    display: none;


    @media screen and (min-width: $tablet) {
        display: block;
        
    }
    @media screen and (min-width: $desktop) {
        display: flex;
    }
}


@media screen and (min-width: $desktop) {
    .header-address__item:nth-child(n + 2) {
    margin-left: 50px;
}
}

.header-address__link {
    color: $secondary-text-color;
    display: flex;
    align-items: center;

    transition: color 250ms $transition-timing;

    &:hover,
    &:focus {
        color: $blue-accent;
    }
}


.header-nav__link {
    transition: color 250ms $transition-timing;

    &:hover,
    &:focus {
        color: $blue-accent;
    }
}


    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        .header-address__link:last-child {
            margin-top: 10px;
        }
}


.header-address__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms $transition-timing;

    &:hover,
    &:focus {
        fill: $blue-accent;
    }
}

.icon-mail {
    width: 16px;
    height: 12px;
}

.icon-phone {
    width: 10px;
    height: 16px;
}


.header-nav__item {
    position: relative;
}

.header-nav__link--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    
    background-color: $blue-accent;
}