.logo {
    font-family: $second-font-family;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 0;
}
.header-logo {
    color: $total-black-color;
    margin: 0;
}

.logo__accent {
    color: $blue-accent;

}

.footer-logo {
    color: $main-white;
    margin-bottom: 20px;
    display: block;
}