.client-list {
    @extend %flex;
    flex-wrap: wrap;
    margin-bottom: -30px;

    justify-content: space-between;

    @media screen and (min-width: $desktop){
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-around;
}
}

.client-list__link {
    display: flex;
    min-width: 140px;
    min-height: 92px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid $client-logo-normal;
    
    color: $client-logo-normal;

    transition: color 250ms $transition-timing,
    border-color 250ms $transition-timing;
}


.client-list__link {
    flex-basis: calc(100% - 30px)/2;
    margin-bottom: 30px;


    @media screen and (min-width: $tablet){
        flex-basis: calc(100% - 60px)/3;
        width: 226px;
    }
    @media screen and (min-width: $desktop){        
        width: 170px;
    }
}



.client-list__icon {
    fill: currentColor;
}

.client-list__link:hover,
.client-list__link:focus {
    color: $client-logo-accent;
    border-color: $client-logo-accent;
}