.team.section {
    background-color: #F5F4FA;
}
.team {
    padding-top: 94px;
}
.team-list__item {
    margin: 0;
    border-radius: 0px 0px 4px 4px;

    background: $main-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.team-list__item img {
    margin: auto;
}


.team-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin: 0;
    margin-top: 30px;

}
.team-list__position {
    color: $secondary-text-color;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 10px;
}
// .team-list {
//     @extend %flex;
//     height: 428px;
// }
// .team-list__item:not(:last-child) {
//     margin-right: 30px;
// }


.team-links {
    @extend %flex;
    // padding-right: 0px;
    border: 1px solid transparent;
    width: 206px;
    height: 44px;
    margin: auto;
    // margin: 16px 32px 30px;

}
.team-links__link {
    display: block;
    padding-left: 0;
    padding: 12px;
    width: 44px;
    height: 44px;
    color: $client-logo-normal;

    transition: background-color 250ms $transition-timing,
    border-radius 250ms $transition-timing,
    color 250ms $transition-timing;

    &:hover {
    background-color: $client-logo-accent;
    border-radius: 50%;
    color: $main-white;
    }

    &:focus {
    background-color: $client-logo-accent;
    border-radius: 50%;
    color: $main-white;
    }

}

.team-links__social {
    fill: currentColor;
}

.team-links__item:nth-child(-n + 3) {
    margin-right: 10px;
}