// Project color theme

$primery-text-color: #212121;
$secondary-text-color: #757575;
$main-white: #ffffff;
$blue-accent: #2196F3;
$footer-mail-tel-color: rgba(255, 255, 255, 0.6);
$main-background-color: #2F303A;
$client-logo-normal: #AFB1B8;
$client-logo-accent: #2196F3;
$footer-sociolink--main-color: rgba(255, 255, 255, 1);
$footer-sociolink--accent-color: rgba(33, 150, 243, 1);
$footer-sociolink--bcc-color: rgba(255, 255, 255, 0.1);
$portfolio-cards-overlay: rgba(33, 150, 243, 0.9);
$modal-background: rgba(0, 0, 0, 0.2);
$modal-window-color: rgba(255, 255, 255, 1);
$total-black-color: #000000;


// Transformation

$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);

// Project fonts

$main-font-family: Roboto, sans-serif;
$second-font-family: Raleway, sans-serif;